<h1 class="h2">Edit User</h1>


<form #myForm="ngForm">
  <div class="form-group mt-3">
    <label>Name</label>
    <input class="form-control mb-4" type="text" [(ngModel)]="user.name" ngModel name="name" id="name" required>

    <label for="userID">Email</label>
    <input class="form-control mb-2" type="email" [(ngModel)]="user.email" ngModel name="email" id="email" required>

    <label>User ID</label>
    <input class="form-control" type="text" [(ngModel)]="user.userID" ngModel name="userID" required>
  </div>

  <h5>Roles</h5>

  <div class="form-check form-check-inline" ngModelGroup="rolesSelected"
    *ngFor="let role of roleNameArray; let i = index;">
    <input class="form-check-input" ngModel name="{{roleNameArray[i]}}" (change)="getSelectedRoles(myForm)"
      id="checkbox{{i}}" type="checkbox">
    <label class="form-check-label" for="{{roleNameArray[i]}}">{{roleNameArray[i]}}</label>
  </div>

  <div class="mt-4" >
    <button class="mt-3 btn btn-success" [disabled]="!myForm.form.valid" type="button" (click)="handleSubmit(myForm)" routerLink="/view-users">Edit
      User</button>
  </div>


</form>