<h1 class="h2 mb-3">Role List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Role ID</th>
      <th scope="col">Permissions</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let role of roleList; let i = index;">
      <td>{{i+1}}</td>
      <td>{{role.name}}</td>
      <td>{{role.roleID}}</td>
      <td>
        <p *ngFor="let perm of role.permissions">{{perm}}</p>
      </td>
      <td class="d-flex justify-content-around">
        <a routerLink="/edit-role/{{role.$key}}">Edit</a>
        <a class="text-primary pl-2" (click)="deleteRole(role)">Delete</a>
    </tr>
  </tbody>

</table>

<div class="d-flex justify-content-around">
  <a routerLink="/add-role" class="btn btn-success">
    Add Role
  </a>
</div>