<h1 class="h2">Add Role</h1>

<form #myForm="ngForm" novalidate>
  <div class="form-group mt-3">
    <label for="roleName">Name</label>
    <input class="form-control mb-4" type="text" ngModel name="roleName" id="roleName" required>

    <label for="roleId">Role ID</label>
    <input class="form-control" type="text" ngModel name="roleId" id="roleId" required>
  </div>

  <h5>Permissions</h5>
  <div class="form-check form-check-inline" ngModelGroup="permissions" *ngFor="let perm of permissions; let i = index;">
    <input class="form-check-input" ngModel name="{{permissions[i]}}" (change)="getSelectedPermission(myForm)"
      id="checkbox{{i}}" type="checkbox">
    <label class="form-check-label" for="checkbox{{i}}">{{permissions[i]}}</label>
  </div>

  <div>
    <button class="mt-3 btn btn-success" type="button" (click)="handleSubmit(myForm)" routerLink="/view-roles">Add
      Role</button>
  </div>
</form>