<h1 class="h2">Add User</h1>

<form #myForm="ngForm">
  <div class="form-group mt-3">
    <label for="name">Name</label>
    <input class="form-control mb-2" type="text" ngModel name="name" id="name" required>

    <label for="userID">Email</label>
    <input class="form-control mb-2" type="email" ngModel name="email" id="email" required>

    <label for="userID"> User ID</label>
    <input class="form-control" type="text" ngModel name="userID" id="userID" required>
  </div>

  <h5>Roles</h5>
  <div class="form-check form-check-inline" ngModelGroup="rolesSelected"
    *ngFor="let role of roleNameArray; let i = index;">
    <input class="form-check-input" ngModel name="{{roleNameArray[i]}}" (change)="getSelectedRoles(myForm)"
      id="checkbox{{i}}" type="checkbox">
    <label class="form-check-label" for="checkbox{{i}}">{{roleNameArray[i]}}</label>
  </div>

  <div class="mt-4">
    <button class="btn btn-success" [disabled]="!myForm.form.valid" type="button" (click)="handleSubmit(myForm)" routerLink="/view-users">Add
      User</button>
  </div>
</form>