<nav>
  <a routerLink="/add-user">
    <h1> User management Portal</h1>
  </a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link" routerLink="/add-user" routerLinkActive="active">
              <i class="fas fa-plus"></i>Add User
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/view-users" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>User List
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/add-role" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>Add Role
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/view-roles" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>Role List
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <router-outlet></router-outlet>

      </div>
    </main>

  </div>
</div>