<div class="d-flex flex-column flex-lg-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h1 class="flex-grow-1" routerLink="/view-users"> User Management Portal</h1>

  <nav class="nav my-2 my-md-0 mr-md-3">

    <a class="nav-link" routerLink="/view-users" routerLinkActive="active">
      User List
    </a>


    <a class="nav-link" routerLink="/add-user" routerLinkActive="active">
      Add User
    </a>


    <a class="nav-link" routerLink="/view-roles" routerLinkActive="active">
      Role List
    </a>


    <a class="nav-link" routerLink="/add-role" routerLinkActive="active">
      Add Role
    </a>
  </nav>
</div>

<main class="d-flex justify-content-center mt-5">
  <div class="inner-adjust w-50">
      <router-outlet></router-outlet>
  </div>

</main>