<h1 class="h2 mb-3">User List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">UserID</th>
      <th scope="col">Roles</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of userList; let i = index;">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.userID}}</td>
      <td>
        <p *ngFor="let role of roleNamesList[i]">{{role}}</p>
      </td>
      <td class="d-flex justify-content-around">
        <a routerLink="/edit-user/{{user.$key}}">Edit</a>
        <a class="text-primary pl-2" (click)="deleteUser(user)">Delete</a>
    </tr>
  </tbody>

</table>

<div class="d-flex flex-column">
  <a routerLink="/add-user" class="btn btn-success btn-lg mb-3 ">
    Add User
  </a>
  <div class="btn btn-success bg-secondary btn-lg text-white" id="downloadButton">Download Data</div>
</div>